node_modules
.next
out
build
coverage
.git
.gitignore
.github
.husky
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local
.env
.env.*
!.env.example
.agents
.claude
README.md
